asgiref==3.5.2
async-timeout==4.0.2
backports.zoneinfo==0.2.1
Deprecated==1.2.13
dj-database-url==0.5.0
Django==4.0.4
django-crispy-forms==1.14.0
django-heroku==0.3.1
django-sesame==2.4
gunicorn==20.1.0
packaging==21.3
psycopg2==2.9.3
pyparsing==3.0.9
redis==4.3.1
sqlparse==0.4.2
tzdata==2022.1
ua-parser==0.10.0
whitenoise==6.1.0
wrapt==1.14.1
