{% extends 'blank.html' %}
{%load static%}

{% block title %}Career{% endblock title %}
{% block style %}

  
  .form-control:focus {
    box-shadow: none;
    border-color: #BA68C8;
  }
  
  .profile-button {
    background: #BA68C8;
    box-shadow: none;
    border: none;
  }
  
  .profile-button:hover {
    background: #682773;
  }
  
  .profile-button:focus {
    background: #682773;
    box-shadow: none;
  }
  
  .profile-button:active {
    background: #682773;
    box-shadow: none;
  }
  
  .back:hover {
    color: #682773;
    cursor: pointer;
  }
  
  .labels {
    font-size: 11px;
  }
  
  .add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8;
  }
{% endblock style %}
{%block body %}
<div class="container-fluid" >

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4" >
        <h1 class="h3 mb-0 text-gray-800">Career</h1>
        
    </div>
</div>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-7 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h6 class="text-right">Add Experience</h6>
                </div>
                <form method="POST" class="post-form">
                  {% csrf_token %}
                  
                  <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">User</label>{{ form.account }}</div>      
                  </div>
                <div class="row mt-2">
                    <div class="col-md-12"><label class="labels">Position</label>{{form.position}}</div>
                    <div class="col-md-12"><label class="labels">Company</label>{{ form.organization }}</div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">From</label>{{ form.s_date }}</div>
                    <div class="col-md-6"><label class="labels">To</label>{{ form.e_date }}</div>
                </div> 
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Add Experience</button></div>
              </form>
              </div>
        </div>
        <div class="col-md-5">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Your Experience</span>
                  <!-- <span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span> -->
                </div>
                {% for i in exp %}
                <div class="d-flex flex-row mt-3 exp-container"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-briefcase-fill p-2" viewBox="0 0 16 16">
                    <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z"/>
                    <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z"/>
                  </svg>
                    <div class="work-experience ml-1"><span class="font-weight-bold d-block">{{ i.position }}</span><span class="d-block text-black-50 labels">{{ i.organization }}</span><span class="d-block text-black-50 labels">{{ i.s_date }} - {{ i.e_date }}</span>
              <a href="/deletebatch/{{ user.username }}/{{ i.id }}">Delete</a></div>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div> {% endblock  %}

